{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}
<div class="container-fluid">
    <div class="row pt-5">
        <div class="col-sm-4 pt-5"></div>
        <div class="col-sm-4 text-center mt-3">
            <img src="{% static 'app/img/chek-in.png.png' %}" alt="" height="300px">
            <h2> <br>Usted ha creado su cuenta correctamente.</h2>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-2 mt-3">
            <a href="{% url 'index' %}" class="btn fondo mb-5" role="button">Ir a menu principal</a>
        </div>
        <div class="col-sm-5"></div>
    </div>
</div>
{%endblock%}
            
  


